<!DOCTYPE html>
<html>
  <head>
    <title>cluster</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/script/cluster.js"></script>
  </head>
  <body>
    <div id="split">
      <div id="left">
        <span class="subtitle">
          <i class="label material-icons">code</i>
          <h3>invocation</h3>
        </span>
        <div id="active">
          <div class="invocation">
            <p class="placeholder">no active invocation</p>
          </div>
        </div>
        <span class="subtitle">
          <i class="label material-icons">history</i>
          <h3>history</h3>
        </span>
        <p id="history_placeholder" class="placeholder"><br>no invocations to show</p>
        <div id="invocations"></div>
      </div>
      <div id="center">
        <div id="invoke">
          <input id="input" type="text" placeholder="https://github.com/doctorn/cluster_example.git"/>
          <a class="text_button" id="invoke_button">invoke</a>
        </div>
        <p id="center_placeholder" class="placeholder"><br>not viewing an invocation</p>
        <div id="content" class="hidden">
          <h2 id="viewing_name"></h2>
          <div id="viewing_time" class="time"></div>
          <div id="viewing_id" class="id"></div>
          <div id="viewing_repo">
            <a id="viewing_url" class="url"></a>
            <div id="viewing_commit">
              <a id="viewing_hash" class="commit"></a>
            </div>
          </div>
          <a id="reinvoke" class="text_button">reinvoke</a>
          <a id="cancel" class="text_button">cancel</a>
          <div id="setup"></div>
          <p id="viewing_log_gen_note">
            log files will be generated from standard output
          </p>
          <p id="viewing_log_dir_note">
            log files on hosts will be uploaded from <code id="viewing_log_dir"></code>
          </p>
        </div>
      </div>
      <div id="right">
        <span class="subtitle">
          <i class="label material-icons">memory</i>
          <h3>hosts</h3>
        </span>
        <p id="hosts_placeholder" class="placeholder"><br>no hosts registered</p>
        <div id="hosts"></div>
      </div>
    </div>
    <div id="snackbar">hello world</div>
  </body>
</html>
